html,body {
  margin: 0;
  padding: 0px;
}
.all_bg {
  height: 100vh;
  margin: 0px auto;
}
.all_bg #allcanvas {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0;
}
.all_bg #allcanvas #canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.all_bg #allcanvas #canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
